* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #efeded;
}

.container .title{
    background: #e54040;
    width: 100%;
    text-align: center;
}

.container .title h1{
    font-size: 32px;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px 0;
}

.content {
    width: 95%;
    margin: 20px auto;
}

.content p{
    font-size: 22px;
    padding: 10px 5px;
    text-align: center;
}

.content .tips{
    color: #f77070;
    margin: -10px 0 -20px;
    font-size: 14px;
}

input{
    display: block;
    color: #e54040;
    width: 250px;
    font-size: 22px;
    margin: 20px auto;
    padding-left: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #e54040;
    background: none;
}

button{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 8px 0;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #e54040;
    border: #e54040 solid 2px;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    transition: all .4s ease;
}

button:hover{
    background: none;
    color: #e54040;
    transform: scale(1.05);
}

.outputDiv{
    text-align: center;
    padding: 10px 0 20px;
    margin: 20px;
}

.outputText{
    padding-bottom: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 600;
}

.outputDiv #result p{
    padding: 5px;
}

.outputDiv #result .name{
    font-weight: 600;
}

span{
    font-weight: bold;
    color: #e54040;
}

.container span a{
    font-weight: bold;
    color: #e54040;
}

.container span a:hover{
    text-decoration: underline;
}

.even,
.odd {
    position: relative;
    display: inline-block;
}
  
.even .evenText,
.odd .oddText {
    visibility: hidden;
    width: 120px;
    background-color: #918282;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 50%;
    margin-left: 0;
}
  
.even:hover .evenText,
.odd:hover .oddText {
    visibility: visible;
}

footer{
    font-size: 12px;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #111;
    padding: 20px 23px;
    text-align: center;
}

footer span{
    color: #fff;
}

footer span a{
    color: #e54040;
}

footer span a:hover{
    text-decoration: underline;
}





/* History design */
.btnHistory{
    display: block;
    font-weight: 700;
    margin: 0 auto;
    width: 250px;
    padding: 3px;
    text-align: center;
    color: #e54040;
    border: solid 2px #e54040;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease;
}

.btnHistory:hover{
    background: #e54040;
    color: #fff;
    transform: scale(1.05);
}

.historyBg{
    position: absolute;
    height: auto;
    width: 100%;
    background: rgba(241, 246, 241, 0.373);
    z-index: 99;
}

.historyCon{
    width: 90%;
    height: auto;
    display: block;
    margin: 60px auto;
    border-radius: 5px;
    background: #e98080a4;
    padding: 20px;
}

.TC{
    display: flex;
    justify-content: space-between;
    margin: -10px 10px 20px;    
    font-size: 22px;
}

.CC{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.historyTitle{
    color: #fff;
    text-shadow: 1px 2px 2px #111;
    letter-spacing: 2px;
}

.historyClose{
    color: #111;
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
    margin-top: -8px;
    transition: all .4s ease;
}

.historyData{
    width: 90%;
    margin: 10px auto;
    word-wrap: break-word;
    text-align: justify;
    padding: 10px;
}

.dataTitle{
    font-weight: 700;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 2px 2px #111;
}


.oddVal{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 10px;
    text-shadow: 1px 2px 2px #fff;
}

.evenVal{
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    text-shadow: 1px 2px 2px #fff;
}

.clearHistory{
    padding-top: 2px;
    color: #eb0e0e;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;
}

.clearHistory:hover,
.historyClose:hover{
    color: #fff;
    background: none;
    transform: scale(1.05);
}

.hide{
    display: none;
}

.show{
    display: block;
}

hr{
    height: 3px;
    background: #111;
}


@media only screen and (max-width: 770px) {
    .content p{
        font-size: 16px;
    }

    .content .tips{
        font-size: 12px;
    }

    .outputDiv {
        padding: 0;
    }

    .outputText{
        font-size: 18px;
        padding-bottom: 5px;
        margin-top: -15px;
    }

    footer{
        padding: 10px 15px;
        height: 40px;
    }
    
    .CC{
        width: 30%;
    }
}